services:
  app:
    restart: always
    volumes:
      - ./secret-key:/app/secret-key
    # run migration before start app
    command: sh -c "npm run db:migrate && node dist/server.js"

  postgres:
    restart: always
    ports: []
    env_file:
      - .env

  redis:
    restart: always
    ports: []
