services:
  app:
    volumes:
      # Hot reload for development
      - .:/app
      - /app/node_modules
      - ./secret-key:/app/secret-key
    command: npm run dev

  postgres:
    ports:
      - '5432:5432'

  redis:
    ports:
      - '6379:6379'
