# docker-compose.dev.yml
services:
  app:
    build:
      context: .
      target: builder
    environment:
      NODE_ENV: development
    volumes:
      - .:/app
      - /app/node_modules
      - ./secret-key:/app/secret-key
    command: npm run dev
    
    deploy:
      resources:
        limits:
          cpus: '1.5'
          memory: 1G

  postgres:
    ports:
      - '5432:5432'

  redis:
    ports:
      - '6379:6379'
